<h3>
    <nav>
        <h2 class="nav-title">{{title}}</h2>
        <div class="nav-links">
            <form>
                <input type="search" id="search" placeholder="Location" />
                <button type="submit">Search</button>
            </form>
            <a href="/">HOME</a>
            <a href="/about">ABOUT</a>
            <a href="/help">HELP</a>
        </div>
    </nav>
</h3>